<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Create course</title>
    <!-- подключаем файлы Bootstrap -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <h2>Create new course</h2>
    <form name="courseForm">
        <input type="hidden" name="id" value="0" />
        <div class="form-group col-md-5">
            <label for="name">Name:</label>
            <input class="form-control" name="name" />
        </div>
        <div class="form-group col-md-5">
            <label for="age">Unique code:</label>
            <input class="form-control" name="code" type="number" />
        </div>
        <div class="form-group col-md-5">
            <label for="age">Professor:</label>
            <input class="form-control" name="id" type="number" />
        </div>
        <div class="panel-body">
            <button type="submit" id="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
    <script>
        async function CreateCourse(courseName, courseCode, professorId) {        
            const response = await fetch("api/Courses/AddCourse", {
                method: "POST",
                headers: { "Accept": "application/json" },
                body: JSON.stringify({
                    Name: courseName,
                    UniqueCode: courseCode,
                    ProfessorId: professorId
                })
            });
            document.write(response.body['errors']);         
                    
             if (response.ok === true) {
                 alert("course added");
             }
        }        
        document.forms["courseForm"].addEventListener("submit", e => {
            e.preventDefault();            
            const form = document.forms["courseForm"];            
            const name = form.elements["name"].value;
            const code = form.elements["code"].value;                   
            const professorId = form.elements["id"].value;
            CreateCourse(name, code, professorId);           
        });
    </script>
</body>
</html>