@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <!-- подключаем файлы Bootstrap -->
    <link href='@Url.Content("~/Content/bootstrap.min.css")' rel="stylesheet" type="text/css" />
    <script src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>
</head>

<body>

    <!-- используем стили Bootstrap -->
    <form style="padding-left:20px; padding-top:20px;">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" style='width:300px;' class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" style='width:300px;' class="form-control" id="pwd">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</body>
</html>